services:
  mysql:
    image: mysql:8.0
    container_name: local-mysql
    command: >
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --sql-mode=
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data_local:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped
  
  python-app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: local-python-app
    env_file: .env
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./app:/app
    command: ["python", "main.py"]
    restart: "no"

  airflow-init:
    build:
      context: ./airflow
      dockerfile: Dockerfile
    container_name: local-airflow-init
    env_file: .env
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./app:/opt/airflow/app
    entrypoint: /bin/bash
    command: -lc "airflow db migrate && airflow users create --username \"${AIRFLOW_ADMIN_USER}\" --password \"${AIRFLOW_ADMIN_PASSWORD}\" --firstname Admin --lastname User --role Admin --email \"${AIRFLOW_ADMIN_EMAIL}\""
    restart: "no"



  airflow-webserver:
    build:
      context: ./airflow
      dockerfile: Dockerfile
    container_name: local-airflow-webserver
    env_file: .env
    depends_on:
      mysql:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./app:/opt/airflow/app
    command: webserver
    ports:
      - "8080:8080"
    restart: unless-stopped

  airflow-scheduler:
    build:
      context: ./airflow
      dockerfile: Dockerfile
    container_name: local-airflow-scheduler
    env_file: .env
    depends_on:
      mysql:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./app:/opt/airflow/app
    command: scheduler
    restart: unless-stopped

volumes:
  mysql_data_local:
